<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>GrandpyBot </title>

    <link rel="stylesheet" href="/static/css/style.css">

    <script async type="text/javascript" src="../static/js/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="header-heading">Grandpy Bot </h1>
            <h2><small>Le papy robot</small></h2> 
            <img src="/static/img/robot.jpeg" alt="Grandpy">   
        </div>
        <hr>
        <div class="input-group mb-3">
            <input name="question" type="text" class="form-control" placeholder="Insérez votre question pour grandpy ici" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="submit">Recherche</button>
            </div>
        </div>
        <div class="loader"></div>
        <div id="grandpyanswer">
            <div class="msg"><p><strong>Grandpy: </strong>Qu'est que vous voulez savoir?</p></div> 
        </div>        
        <div id= "map" class="border border-primary"></div>
        <footer class="card text-center">
            <div class="card-body">
                <p>Projet 7 - Développeur D'application Python - OpenClassrooms</p>
            </div>
            <div class="card-footer">
                <p>Mathieu Ferrandeau - <a href="https://github.com/MathieuFerrandeau/Project7" class="badge badge-primary">GitHub</a></p>
            </div>
        </footer>        
    </div>


    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- js gmap -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"
    async defer></script>
</body>
</html>